In [86]:
import pandas as pd
import numpy as np

In [87]:
train = pd.read_csv("titanic2_Train.csv")
test = pd.read_csv("titanic2_Test.csv")

In [88]:
train.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,3.0,0.0,"O'Donoghue, Ms. Bridget",female,NaN,0.0,0.0,364856,7.750,NaN,Q,NaN,NaN,NaN
1,2.0,0.0,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0.0,0.0,250655,26.000,NaN,S,NaN,NaN,NaN
2,2.0,1.0,"Smith, Miss. Marion Elsie",female,40.0,0.0,0.0,31418,13.000,NaN,S,9,NaN,NaN
3,3.0,1.0,"Goldsmith, Mrs. Frank John (Emily Alice Brown)",female,31.0,1.0,1.0,363291,20.525,NaN,S,C D,NaN,"Strood, Kent, England Detroit, MI"
4,3.0,1.0,"McCoy, Miss. Agnes",female,NaN,2.0,0.0,367226,23.250,NaN,Q,16,NaN,NaN

In [89]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 14 columns):
pclass       1009 non-null float64
survived     1009 non-null float64
name         1009 non-null object
sex          1009 non-null object
age          812 non-null float64
sibsp        1009 non-null float64
parch        1009 non-null float64
ticket       1009 non-null object
fare         1008 non-null float64
cabin        229 non-null object
embarked     1008 non-null object
boat         374 non-null object
body         98 non-null float64
home.dest    582 non-null object
dtypes: float64(7), object(7)
memory usage: 110.4+ KB

In [90]:
columns_to_drop = ['name','ticket','cabin','embarked','boat','body','home.dest']

In [91]:
cleaned_train_data = train.drop(columns_to_drop,axis=1)
cleaned_test_data = test.drop(columns_to_drop,axis=1)

In [92]:
cleaned_test_data.head()

   pclass     sex   age  sibsp  parch     fare
0     1.0    male  36.0    0.0    0.0  26.3875
1     3.0  female   NaN    8.0    2.0  69.5500
2     1.0    male   NaN    0.0    0.0  50.0000
3     2.0    male  34.0    0.0    0.0  13.0000
4     2.0    male  28.0    0.0    0.0  13.0000

In [93]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
cleaned_train_data['sex'] = le.fit_transform(cleaned_train_data['sex'])
cleaned_test_data['sex'] = le.fit_transform(cleaned_test_data['sex'])

In [94]:
cleaned_train_data.head()
#cleaned_test_data.head()

   pclass  survived  sex   age  sibsp  parch    fare
0     3.0       0.0    0   NaN    0.0    0.0   7.750
1     2.0       0.0    1  39.0    0.0    0.0  26.000
2     2.0       1.0    0  40.0    0.0    0.0  13.000
3     3.0       1.0    0  31.0    1.0    1.0  20.525
4     3.0       1.0    0   NaN    2.0    0.0  23.250

In [95]:
cleaned_train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 7 columns):
pclass      1009 non-null float64
survived    1009 non-null float64
sex         1009 non-null int32
age         812 non-null float64
sibsp       1009 non-null float64
parch       1009 non-null float64
fare        1008 non-null float64
dtypes: float64(6), int32(1)
memory usage: 51.3 KB

In [96]:
train_avg_age = cleaned_train_data['age'].mean()
train_avg_fare = cleaned_train_data['fare'].mean()

test_avg_age = cleaned_test_data['age'].mean()
#test_avg_fare = cleaned_test_data['fare'].mean()

print(train_avg_age)
print(train_avg_fare)

print(test_avg_age)
#print(test_avg_fare)

29.838977832512317
33.64741220238095
30.027421794871795

In [97]:
#cleaned_train_data.info()
cleaned_test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 6 columns):
pclass    300 non-null float64
sex       300 non-null int32
age       234 non-null float64
sibsp     300 non-null float64
parch     300 non-null float64
fare      300 non-null float64
dtypes: float64(5), int32(1)
memory usage: 13.0 KB

In [98]:
cleaned_train_data["age"] = cleaned_train_data.fillna(train_avg_age)["age"]
cleaned_train_data["fare"] = cleaned_train_data.fillna(train_avg_fare)["fare"]

cleaned_test_data["age"] = cleaned_test_data.fillna(test_avg_age)["age"]
#cleaned_test_data["age"] = cleaned_test_data.fillna(avg_age)["age"]
#cleaned_test_data["fare"] = cleaned_test_data.fillna(avg_fare)["fare"]

In [99]:
#cleaned_train_data.info()
cleaned_test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 6 columns):
pclass    300 non-null float64
sex       300 non-null int32
age       300 non-null float64
sibsp     300 non-null float64
parch     300 non-null float64
fare      300 non-null float64
dtypes: float64(5), int32(1)
memory usage: 13.0 KB

In [100]:
input_cols = ['pclass','sex','age','sibsp','parch','fare']
output_cols = ['survived']

X_train_data = cleaned_train_data[input_cols]
Y_train_data = cleaned_train_data[output_cols]

print(X_train_data.shape,Y_train_data.shape)

(1009, 6) (1009, 1)

In [101]:
from sklearn.tree import DecisionTreeClassifier

In [102]:
dt=DecisionTreeClassifier(criterion='entropy',max_depth=5)

In [103]:
dt.fit(cleaned_train_data[input_cols],cleaned_train_data[output_cols])

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=5,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [104]:
# predict test data
predict = dt.predict(cleaned_test_data)

In [105]:
df = pd.DataFrame(predict)
df.columns = ['survived']

In [106]:
df = df.astype({"survived" : int})
#id = range(1, len(df) + 1)
df.insert(0,'Id',range(0, len(df)))

In [107]:
df.head()

   Id  survived
0   0         0
1   1         0
2   2         0
3   3         0
4   4         0

In [108]:
# saving the dataframe 
df.to_csv('Predicted_survived.csv', index = False)